.pc-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.pc-line {
  width: 80%;
  border: none;
  height: 2px;
  background: linear-gradient(90deg, #074073, #004a7c);
  border-radius: 1px;
}

/* Fondo de la sección de investigación */
.pc-section-bg {
  padding: 60px 0;
}

/* Títulos */
.pc-title-container h2 {
  text-align: center;
  color: #074073;
  font-weight: bold;
  margin-bottom: 10px;
}

.pc-title-container p {
  text-align: center;
  color: #555;
  margin-bottom: 40px;
}

/* Animación de hover */
.pc-research-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid #D0E1F9;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.pc-research-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border-color: #62B6F9;
}

/* Íconos */
.pc-research-card h4 .pc-icon {
  font-size: 1.2em;
  margin-right: 10px;
  color: #074073;
}

/* Botones */
.pc-link {
  display: inline-block;
  margin-top: 10px;
  color: #074073;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.pc-link:hover {
  color: #012d5c;
}

/* Títulos */
.pc-research-card h4 {
  font-size: 22px;
  color: #003F88;
  margin-bottom: 15px;
}

/* Texto descriptivo */
.pc-research-card p {
  font-size: 14px;
  color: #5A6473;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Texto de "Aquí encontrarás temas" */
.pc-topics-header {
  font-size: 14px;
  color: #003F88;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Lista de temas */
.pc-topic-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pc-topic-list li {
  font-size: 14px;
  color: #1A73E8;
  padding: 5px 0;
  border-left: 3px solid #D0E1F9;
  padding-left: 10px;
  transition: all 0.3s;
}

.pc-topic-list li:hover {
  color: #003F88;
  border-left: 3px solid #62B6F9;
  padding-left: 15px;
}

/* Botón "Conoce Más" */
.pc-link {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s;
}

.pc-link:hover {
  color: #62B6F9;
}

.pc-link span {
  margin-left: 8px;
  display: inline-block;
  transition: transform 0.3s;
}

.pc-link:hover span {
  transform: translateX(5px);
}